{% extends 'store/base.html' %}

{% block content %}
<h2>Добавить категорию</h2>
<form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="form-group">
        <label for="id_name">Наименование</label>
        {{ form.name|as_crispy_field }}
    </div>
    <div class="form-group">
        <label for="id_description">Описание</label>
        {{ form.description|as_crispy_field }}
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
{% endblock %}
